body {
  padding-top: 70px;
}

#guide-tree path.branch {
  opacity: .5;
}

svg#alignmentjs-labels > text {
  font-family: Courier;
  font-size: 14px;
}

.axis {
  shape-rendering: crispEdges;
  font: 10px sans-serif;
}

.axis path, line {
  fill: none;
  stroke: #000;
}

#alignmentjs-guideTree-div path.branch:hover {
  stroke-width: 2px;
}
